@media screen and (max-height: 700px) {
    .Form {
        padding: 1rem;
        margin: 1rem;
    }
    .text-center h2 {
        font-size: 28px;
        margin: 0;
    }
    .text-center p {
        font-size: 14px;
    }
    
}

@media (max-width: 768px) {
    .Form {
        height: 100vh;
        margin: 0 !important;
        padding: 1rem !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
}