
.flux {
    font-size: 125%;
    box-sizing: border-box;
    word-wrap: break-word;
    transition: box-shadow .2s;
    display: block;
    top: 49%;
    left: 50%;
    transform: translateX(-50%);
    width: var(--path-width, 761px); /* Utilise la largeur calculée */
    position: absolute;
    height: 4px;
    margin: auto;
  }
  
  .flux::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(50% - 20px); /* Ajuste la largeur pour atteindre le centre des images */
    height: 4px;
    transform: translateY(-50%);
  }
  .atom {
    position: absolute;
    width: 25px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    transform: translateY(-50%);
    animation: moveAtom 4s ease-in-out infinite alternate;
  }
  @keyframes moveAtom {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 25px); /* Soustrait la largeur de l'atome */
    }
    100% {
      left: 0;
    }
  }
  @media (800px <= width <= 1024px)  {
    .flux {
      top:59%;
    }
    .svgBack, .svgFront{
      width: 400px;
    }
  }
  @media (640px <= width <= 800px)  {
    .svgFront, .svgBack{
      width: 270px;
    }

    .titreSVG{
      padding: 1rem;
      
    }
  }
  @media (max-width: 800px) {
    .competence-item {
      flex-direction: column;
      align-items: center;
     
    }
    
    .flux {
      display: none; /* Cache l'animation sur mobile */
    }
  }
  @media screen and (max-height: 855px) {
    .competences-grid{
      padding: 0;
      gap:1rem
    }
    .svgBack, .svgFront{
      width: 200px;
      height: 200px;
    }
    .titreSVG{
      font-size: 18px;
      padding:0.5rem;
      
    }
    
    
  }
  @media screen and (max-width: 640px) {
    .titreSVG{
        padding:1rem;
    }
  }